* {
    --text-default-color: rgb(204,204,198);
    --text-highlight-color: rgb(115, 170, 195);
    --darkest-bg-color: rgb(30,30,30);
    --dark-bg-color: rgb(37,37,38);
    --medium-bg-color: rgb(51,51,51);
    --highlight-color: rgb(179,143,80);
    --dark-highlight-color: rgb(99,112,112);
    --warning-color: rgb(180, 58, 58);
    --font-size: 12pt;
}